<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>CASified Python Flask Application</title> 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
    <div class="container">
        <div class="jumbotron">
            <h2>CAS Protected Secure Page</h2>
           
            <p>Hooray! You are logged in as <b>{{cas.username}}</b>.</p>

            {% if cas.attributes %}
                <p>The following attributes were released to you:</p>
                <p><em>
                    {{cas.attributes}}
                </em></p>
            {% else %}
                <p>No attributes were released to you.</p>
            {% endif %}

            <p>
                <a class="btn btn-primary" href="/" role="button">Home</a>
                <a class="btn btn-primary" href="/logout" role="button">Logout</a>
        </div>

          
    </div>
</body>
 
</html>